.blog-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .heading {
    display: flex;
    justify-content: center;
  }

  .inputfield {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .content,
    .description {
      textarea {
        @include textarea();
      }
    }
  }
}
