.blog-content-wrapper {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  @include responsive(tab-port) {
    // grid-template-columns: 1fr 1fr;
    font-size: 12px;
  }
  @include responsive(phone) {
    // grid-template-columns: 1fr;
    font-size: 10px;
  }

  .heading {
    display: flex;
    justify-content: center;
  }

  .inputfield {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .content,
    .description {
      textarea {
        @include textarea();
      }
    }
  }
}
