@mixin columns {
  display: flex;
  justify-content: center;
}

@mixin three_column_layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@mixin textarea() {
  margin-top: 15px;
  height: 50px;
  width: 350px;
}
