.nav-bar-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $violet;
  padding-bottom: 0.5rem;
  @include responsive(tab-port) {
    width: 100vw;
    grid-template-columns: 1fr;
    font-size: 12px;
  }
  @include responsive(phone) {
    width: 100vw;
    grid-template-columns: 1fr;
    font-size: 10px;
  }

  .left {
    display: flex;
    @include responsive(phone) {
      justify-content: center;
    }

    .logo {
      h1 {
        color: $dark-yellow;
        font-family: "Train One", cursive;
      }
    }
  }

  .right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-right: 10px;

    .right_top {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }

    .right_bottom {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  .nav-link {
    display: flex;
    border-bottom: 4px solid transparent;

    a {
      text-decoration: none;
      color: $green;

      &:hover {
        color: $yellow;
        transition: 0.5s ease-in-out;
      }
    }

    .nav-link-active {
      border-bottom: 4px solid black;
    }
  }
}
