.nav-bar-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: $violet;

  .left {
    display: flex;
    align-items: flex-end;
  }

  .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $yellow;
    font-family: "Train One", cursive;
  }

  .right {
    display: grid;
    grid-template-rows: 0.5fr 1fr;

    .right_top {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }

    .right_bottom {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  .nav-link {
    display: flex;
    border-bottom: 4px solid transparent;

    a {
      text-decoration: none;
      color: $green;

      &:hover {
        color: $dark-green;
        transition: 0.5s ease-in-out;
      }
    }

    .nav-link-active {
      border-bottom: 4px solid black;
    }
  }
}
